target/
target2/
**/*.rs.bk
**/*.swp
**/*.swo
*.log
*.tmp
.DS_Store
node_modules/
*.env
/.vscode/
/.idea/
*.iml
*.bak
*.old
*.orig
*.rej
*.pyc
__pycache__/
*.pyo
*.pyd
*.class
*.jar
*.war
*.ear
*.db
*.sqlite
*.sqlite3
*.ipynb_checkpoints/
*.out
*.exe
*.dll
*.so
*.dylib
*.test
*.profraw
